.btn {
    padding: 4px;
}

.filterEmployees {
    text-align: center;
}

.filterSelect {
    margin-left: 5px;
}

.sortTitle {
    font-size: medium;
    display: block;
    text-align: center;
}

.navbar {
    background-color: rgb(188, 230, 216);
    margin-bottom: 50px;
}

.navbar-nav {
    font-weight: bolder;
    font-size: large;
}


.pageHeader {

    text-align: center;
}

.selectPosition {
    margin-left: 50px;
    margin-top: 30px;
}



.buttonPosition {
    margin-left: 120px;
    margin-top: 40px;

}